#serviciostecnicos {
    text-align: center;
    background-color: rgb(133, 133, 235);
  }
  
  .imagenservicebosch {
    display: block;
    width: 100%;
    img {
        width: 100%;
        height: auto;
      }
  }
  .servicio1 {
    margin-bottom: 30px;
  }
  .servicio2 {
    margin-bottom: 30px;
  }
  .servicio3 {
    margin-bottom: 30px;
  }
  .mantenimiento {
    display: block;
    width: 100%;
    img {
        width: 100%;
        height: auto;
      }
  }
  .maquinasbosch {
    display: block;
    width: 100%;
    img {
        width: 100%;
        height: auto;
      }
  }
  .vendedor {
    display: block;
    width: 100%;
    img {
        width: 100%;
        height: auto;
      }
  }