.listaprincipal li {
  display: inline;
  background-color: black;
  color: white;
  width: 100%;
  height: auto;
}



#buscador form { 
  display: inline;
  background-color: red;
  width: 100px;
  height: auto;
}
#body {
  background-color: whitesmoke;

}
p{
  margin-left: 5px;
  margin-right: 5px;
 }

h2 {
  text-align:  center;
}
h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: italic;
}
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  #RedesSociales{
      width: 100%; 
      img{
          width: 70px;
            height: 55px;
        }
}

img{
  width: 70px;
    height: 55px;
  }
  #MediosDePago {
      width: 100%;
      img{
          width: 70px;
            height: 55px;
        }
  }

}
img {
  width: 100%;
  height: auto;
}
@import "contacto";

@import "empresa";

@import "inicio";

@import "productos";

@import "services";


.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  animation: slide 27s infinite;
}



@keyframes slide {
  0%, 100% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
}
