.listaprincipal li {
  display: inline;
  background-color: black;
  color: white;
  width: 100%;
  height: auto;
}

#video, #map {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#ProductosDestacados img {
  width: 75%;
  height: auto;
}
#ProductosDestacados h4 {
  font-size: 250%;
}
#ProductosDestacados div {
  justify-content: center;
  display: flex;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#ProductosDestacados div a {
  justify-content: center;
  display: flex;
  align-content: center;
  text-align: center;
  display: inline-block;
  width: 33%;
}

#body {
  background-color: whitesmoke;
}

p {
  margin-left: 5px;
  margin-right: 5px;
}

#Ferreteriacoder {
  text-align: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

h2 {
  text-align: center;
}

#parrafoacentrar {
  text-align: center;
  font-size: 200%;
}

#nosotros h3 {
  text-align: center;
}
#nosotros iframe {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
footer #RedesSociales, footer #MediosDePago, footer #Contacto {
  width: 100%;
}
footer #RedesSociales img, footer #MediosDePago img, footer #Contacto img {
  width: 70px;
  height: 55px;
}

form {
  padding-left: 10px;
}

#serviciostecnicos {
  text-align: center;
  background-color: rgb(133, 133, 235);
}
#serviciostecnicos .imagenservicebosch {
  display: block;
  width: 100%;
}
#serviciostecnicos .imagenservicebosch img {
  width: 100%;
  height: auto;
}
#serviciostecnicos .servicio1, #serviciostecnicos .servicio2, #serviciostecnicos .servicio3 {
  margin-bottom: 30px;
}
#serviciostecnicos .mantenimiento {
  display: block;
  width: 100%;
}
#serviciostecnicos .mantenimiento img {
  width: 100%;
  height: auto;
}
#serviciostecnicos .maquinasbosch {
  display: block;
  width: 100%;
}
#serviciostecnicos .maquinasbosch img {
  width: 100%;
  height: auto;
}
#serviciostecnicos .vendedor {
  display: block;
  width: 100%;
}
#serviciostecnicos .vendedor img {
  width: 100%;
  height: auto;
}
#serviciostecnicos #banner {
  display: block;
  width: 100%;
}
#serviciostecnicos #banner img {
  width: 100%;
  height: auto;
}
#serviciostecnicos .carousel-item img {
  max-height: 80vh;
  max-width: 60%;
  display: block;
  margin: 0 auto;
}
#serviciostecnicos .carousel-control-prev-icon,
#serviciostecnicos .carousel-control-next-icon {
  filter: invert(100%);
}

.imagen-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.imagen-grid .imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagen-grid .imagen img {
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .imagen-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}/*# sourceMappingURL=style.css.map */